* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* header nav logo login  */

header{
    color: white;
}

.page-header{
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
    
}

.nav-container{   
    padding: 30px;
    margin: 0 auto;
}

.logo{
    flex-basis: calc((100% / 12)* 2);
    padding-left: 150px;
}

.login{
    flex-basis: calc((100% / 12)* 2);
    /* margin-left: 60px; */
}

.login-button{
    background-color: white;
    border: none;
    line-height: 30px;
    padding: 0 12px;
    font-size: 13px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 100px;
}

.link{
    flex-basis: calc((100% / 12)* 6);
    margin-left: 55px;
    vertical-align: sub;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* seconda section header  */

.container-header{
    padding: 90px;
    margin: 0 auto;
}

.title{
    flex-basis: calc(100% / 2);
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    line-height: 150px;
}

.description{
    font-size: 20px;
    line-height: 30px;
}

.download-button{
    background-color: white;
    border: none;
    line-height: 50px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 23px;
    margin-right: 40px;
}

#row-entity{
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
}

.browser-button{
    background-color: black;
    color: white;
    border: none;
    line-height: 50px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 23px;
}

/* main section con tre row */



.container{
    min-height: 300px;
    padding: 30px;
    max-width: 1200px;
    margin: 100px auto;
}

.screen{
    width: 100%;
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
}

.title-main{
    font-size: 40px;
    max-width: 270px;
    padding-top: 25px;
  
}

.description-main{
    font-size: 20px;
    font-weight: 300;
    max-width: 320px;
    padding-top: 20px;
}

.bg-grey{
    background-color: #D3D3D3;
}

.rewerse{
    flex-direction: row-reverse;
}

/* footer  */

.page-footer{
   width: 100%;
   background-color:#F6F6F6;
}

.wave{
    width: 100%;
    filter: opacity(0.03);
}

.container-footer{
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.col-12{
    min-height: 400px;
    flex-basis: 100%;
}

.title-footer{
    font-size: 40px;
    width: 850px;
    padding-bottom: 20px;
    text-align: center;
}

.description-footer{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.flag{
    width:30px;
    margin-top: 20px
}

.language{
    display: inline-block;
    color: white;
    vertical-align: super;
}


.blue-title-footer{
    font-size: 35px;
    color:#7289DA ;
}

.blue-button{
    background-color:#8EA1E1;
    color: white;
    margin-left: 300px;
    margin-top: 15px;
}


.footer-black-bg{
    width: 100%;
    background-color: #23272A;
    border: 1px solid white;
}

.col-3{
    flex-basis: calc((100% / 12) * 3);
}

.col-2{
    flex-basis: calc((100% / 12) * 2);
    background-color: #20B2AA;
    border: 1px solid black;
    min-height: 300px;
}

.container-black{
    min-height: 70px;
    padding: 30px;
    margin: 0 auto;
    max-width: 650px;
}

.aqua{
    background-color: aqua;
    
}

